.BackGroundTabela{
    max-width: 90vw;
    margin: auto;
}
.TituloDaTabela{
    color: white;
    text-align: center;
    background-color: var(--verde-escuro);
    border-radius: 10px 10px 0 0;
    padding: 5px;
    font-weight: 600;
}
.ContainerConteudoTabela{
    border: 1px solid #676767;
}