.BackGroundTabela{
    max-width: 90vw;
    margin: auto;
    margin-bottom: 20px;
}
.TituloDaTabela{
    color: white;
    text-align: center;
    background-color: var(--verde-escuro);
    border-radius: 5px 5px 0 0;
    padding: 5px;
    font-weight: 600;
}
.ContainerConteudoTabela{
    border: 1px solid #676767;
    border-bottom: 0;
}