section {
    width: 100%;
}

.TituloSection {
    font-size: 28px;
    margin-top: 3vh;
    margin-bottom: 1vh;
    margin-left: 4rem;
    color: var(--preto);
}

.list-section {
    padding-top: 1rem;
    display: flex;
    position: relative;
    margin: 0 auto;
    align-items: center;
    width: calc(100vw - 1vw);
    height: 230px;
}

.slider-list {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    align-items: center;
    white-space: nowrap;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.slider-list::-webkit-scrollbar {
    display: none;
}

.item-section {
    width: 300px;
    height: 200px;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #DAE4D4;
    display: grid;
    padding: 30px;
}

.item-component-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: black;
}

.ImageUser {
    border-radius: 50%;
}

.item-component-description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    gap: 10px;
    color: black ;
    font-size: 17px;
}

.item-component-section span {
    margin-left: 20px;
    font-size: 18px;
}

.item-section:hover {
    top: -2px;
    
}

.name-section {
    max-width: 100%;
    color: #fffafa ;
    position: relative;
    margin-top: 4rem;
    padding-left: 3vw;
    font-size: 24px;
    font-weight: 600;
}

.arrow {
    color: white;
    opacity: 50%;
    cursor: pointer;
}

.arrow:hover {
    opacity: 100%;
}


.item-section:hover {
    scale: 1.08;
    transition: ease-in-out;
    transition-duration: 50ms;
}


@media (max-width: 500px) {
    .arrow {
        display: none;
    }

    .TituloSection {
        font-size: 24px;
        margin-left: 1rem;
    }
}