.BoxProximoEvento{
    width: 90vw; 
    margin-bottom: 20px; 
    margin: auto;
    margin-top: 20px;
}
.BoxtituloProximoEvento{
    background-color: var(--verde-escuro);
    color: var(--branco);
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
    font-weight: 700;
}
.tituloEvento{
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}
.BoxProximoEventoDetalhes{
    background-color: var(--verde-claro);
    padding: 10px;
    border-radius: 0 0 5px 5px;
}
.BoxDataHora{
    display: grid;
    grid-template-columns: 10% 1fr;
    margin: 5px 0;
    justify-content: left;
    align-items: center;
}
@media(min-width: 1024px){
    .BoxProximoEvento{
        max-width: 25vw;
        margin-top: 0px;
    }
}