.ContainerMenuAnimeted {
  z-index: 5;
  width: 100vw;
  background-color: transparent;
  position: fixed;
  top: 5%;
}
.ContainerDaDivMenuHamburguerMobile{
  display: none;
}
.Scrolled {
  z-index: 5;
  width: 95vw;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  border-radius: 20px;
  position: fixed;
  top: 2%;
  height: 80px;
  align-items: center;
  display: flex;
}
.LogoScrolled {
  animation: slideInFromTop 0.5s ease-in-out;
}
.ContainerAvatarBoxHover{
 
  position: relative;
  width: 15%;
  justify-content: center;
  display: grid;
}
.LinkContainer:hover + .MenuHoverProfile{
  display: block;
}
.LinkContainer{
  z-index: 50;
}
.MenuHoverProfile{
  display: none;
  position: absolute;
  left: 0;
  background-color: var(--branco);
  padding: 5%;
  border-radius: 10px;
  top: 100%;
}
.MenuHoverProfile:hover{
  display: block;
}
.ItensListaHeader{
  margin: 5px;
  font-size: 15px;
  cursor: pointer;
}
.ContainerDaDivMenuHamburguerMobile{
  position: relative;
}
.MenuHoverProfileMobile{
  position: absolute;
  top: 110%;
  width: 60vw;
  padding: 15px;
  border-radius: 20px;
  background-color: var(--branco);
}
.ItensListaHeader{
  margin: 8px;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-90%);
  }
  100% {
    transform: translateY(0);
  }
}
.AgrupamentoItens {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: auto;
}
.AtalhosMenuHamburguer {
  display: flex;
  gap: 20px;
  color: var(--branco);
}
.AtalhosMenuHamburguer li {
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
}

.AtalhosMenuHamburguer li:hover {
  margin-top: -2px;
}
@media(max-width: 999px){
  .ContainerAtalhosMenuHamburguer{
    display: none;
  }
  .ContainerDaDivMenuHamburguerMobile{
    display: block;
  }
  .ContainerHeader{
    display: flex;
  }
  #LogoSamurMenuAnimationMobile{
    width: 170px;
    margin-left: 5px;
  }
  .ContainerAvatarBoxHover{
    position: relative;
  }
  .MenuHoverProfile{
    position: absolute;
    width: 60vw;
    top: 110%;
    left: -45vw;
  }
  .LinkContainer:hover + .MenuHoverProfile{
    display: none;
  }
  .MenuHoverProfile:hover{
    display: none;
  }
}