.tituloProntuario{
    margin: 20px;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 2px solid var(--verde-escuro);
    width: min-content;
}
.BoxAtalhosProntuario{
    display: grid;
    gap: 10px;
}