.ContainerMenuDesktop {
    width: 60vw;
    min-height: 5vw;
    background: transparent;
    display: flex;
    position: absolute;
    left: 22%;
    z-index: 3;
    top: 0%;
}

.ContainerIcones {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    margin: auto;
}
.ImageMascote{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}
.AtalhosMenuHamburguer{
    display: flex;
    gap: 20px;
    color: var(--branco);
}
.AtalhosMenuHamburguer li{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.AtalhosMenuHamburguer li:hover{
    margin-top: -2px;
}

.NovoAgendamento {
    background-color: #B1D7C6;
    display: flex;
    color: #4A4A4A;
    width: auto;
    height: 60%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    padding: 15px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
}
.NovoAgendamento:hover{
    color: var(--branco);
}

@media(max-width: 768px){
    .ContainerMenuDesktop{
        display: none;
    }
}
@media(max-width: 860px){
    .ContainerIcones{
        margin: 5px;
    }
    .AtalhosMenuHamburguer{
        gap: 10px;
    }
    .NovoAgendamento{
        margin-left: 30px;
        min-width: 130px;
    }
}