.boxUserPrincipal{
    background-color: var(--branco);
    width: 90vw;
    height: 75px;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 50%;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.BoxImagePerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarUser{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.BoxWelcomeEmail{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 15px;
    max-height: 80px;
    align-items: center;
}
.boxIconEmail{
    display: flex;
}