.FormularioUser{
    width: 100%;
    display: grid;
}
.FormularioUser > label {
    color: #000;
}
.InputBox{
    margin: 10px auto 10px auto;
    width: 100%;
    border: 1px solid #6A6B6B;
    border-radius: 3px;
    padding: 3px;
}
.DivBoxButton{
    width: 100%;
    margin-top: 15px;
    background-color: var(--azul-claro);
    border-radius: 20px;
    color: var(--branco);
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lapisDivButton{
    margin-left: 10px;
}
@media(min-width: 1024px){
    .ContanerDadosUser{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 20px;
    }
    .EnderecoUser{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        border-bottom: 1px solid black;
    }
}