.BoxForm {
  margin-bottom: 20px;
}
.agrupamentoInputEndereco {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.InputLogradouro {
  width: 40vw;
  margin: 4px;
}
.InputNumero {
  margin: 4px;
}
@media (min-width: 1000px) {
  .InputLogradouro {
    width: 80;
    margin: 0;
  }
  .agrupamentoInputEndereco {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    margin: auto;
    gap: 15px;
  }
  .InputNumero {
    width: 20;
    margin: 0;
  }
  .AgrupamentoSelect {
    width: 100%;
    max-width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
  }
}
