.BoxPopUp{
    background-image: url("/images/background-pop-up.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 80vw;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.FecharPopUp{
    cursor: pointer;
}
.BoxFecharPopUp{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    margin-right: 20px;
}