.Titulo{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ContainerTabela{
    width: 90vw;
    background-color: var(--branco);
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}
.LinhaHeader{
    width: 100%;
    background-color: var(--verde-escuro);
    height: 4px;
}