@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color: var(--branco);
  overflow-x: hidden;
}
@layer base {
  :root {

    --azul-claro: #2C6EF2;
    --branco: white;
    --preto: black;
    --cinza-input: #808080;
    --cinza-cor-de-fundo: #EFF4F7;
    --cor-logo-samur: #409D9C;
    --verde-escuro: #2F6969;
    --verde-claro: #B1D7C6;
    --cor-border: #676767;
    --background-tabela: #d9d9d9ab;

    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 153 32% 77%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }
  
  .dark {
    --background: 180 3% 6%;
    --foreground: 0 0% 98%;

    --card: 180 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 180 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 180 38% 30%;
    --primary-foreground: 0 0% 98%;

    --secondary: 180 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 180 5% 22%;
    --muted-foreground: 180 5% 49%;

    --accent: 180 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 5% 12%;
    --input: 180 4% 18%;
    --ring: 180 38% 40%;
  }
}