.ContainerLogin {
    height: 100vh;
}

.BoxHeaderLogin {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 100vw;
}

.BoxHeaderLogin>div {
    margin-top: 20px;
}

.FormControl {
    margin: 4px;
    width: 300px;
}

.TituloHeader {
    color: var(--verde-escuro);
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}

.TextLogin {
    color: var(--verde-escuro);
    font-weight: 600;
    margin-left: 8px;
    font-size: 20px;
}

.textEsqueciSenha {
    font-size: 14px;
    font-weight: 500;
    color: var(--cinza-input);
    margin-left: 8px;
    cursor: pointer;
}

.InputDados {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}

#InputDados {
    width: 170px;
    margin: auto;
    margin-top: 10px;
    background-color: var(--verde-escuro);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.LinhaDivisoria {
    width: 90vw;
    margin: auto;
    background-color: var(--verde-escuro);
    height: 1px;
}

.TextCadastrar-se {
    color: var(--verde-escuro);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
}
.ContainerSlider{
    display: none;
}
@media (min-width: 950px) {
    .InputsAndLogo {
        width: 40vw;
        height: 100vh;
        display: grid;
    }

    .ContainerLogin {
        display: flex;
    }

    .BoxHeaderLogin {
        width: 40vw;
       
    }

    .FormControl {
        width: 350px;
    }

    .LinhaDivisoria {
        width: 30vw;
    }

    .ContainerSlider {
        background: linear-gradient(90deg, #B1D7C6, #F9FAFB);
        width: 60vw;
        max-height: 100vh;
        position: relative;
        display: block;
    }

    .Caixa {
        overflow: hidden;
        position: absolute;
        display: grid;
        width: 100%;
        height: 100%;
        width: 60vw;
    }

    .slides {
        display: flex;
        align-items: center;
        width: 500%;
        justify-content: center;
        align-items: center;
    }

    .slide {
        width: 20%;
        display: flex;
        justify-content: center;
        transition: 0.6s;
    }

   
    .slide Img {
        object-fit: cover;
    }
    .inputImg{
        position: absolute;
        z-index: 1000;
        top: 20px;
        left: 20px;
    }
    .navigation{
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        z-index: 10;
    }
    .bar{
        width: 20px;
        height: 20px;
        border: 3px solid white;
        margin: 6px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s;
    }
    .bar:hover{
        background-color: white;
    }
    #test{
        margin-left: -80%;
    }
}
@media (max-width: 949px) and (min-width: 425px){
    .LinhaDivisoria {
        width: 70vw;
    }
}
@media (max-width: 949px) and (min-width: 500px){
    .LinhaDivisoria {
        width: 50vw;
    }
}