.boxHeaderPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--branco);
    width: 100vw;
    height: 70px;
}

.menuHamburquer {
    width: 30px;
    height: 30px;
}

.menuHamburguer {
    background-color: var(--verde-claro);
    display: none;
}
.ImagensCloseLogoSamur{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}