.boxHeaderPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--branco);
    width: 100vw;
    height: 70px;
}

.menuHamburquer {
    width: 30px;
    height: 30px;
}
.BoxClose{
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: end;
    padding: 20px;
}
.menuHamburguer {
    background-color: var(--branco);
    display: none;
    overflow-y: scroll;
}
.BoxMapMenuHamburguer{
    display: flex;
    margin-top: 28px;
    margin-left: 40px;
    align-items: center;
}
.TextoMapMenuHamburguer{
    margin-left: 20px;
    color: var(--verde-escuro);
    font-weight: 500;
    font-size: 20;
}
.SairMenuHamburguer{
    background-color: var(--verde-escuro);
    color: var(--branco);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    font-size: 25px;
}
.SairTexotMenuHamburguer{
    margin-left: 20px;
}
.ImagensCloseLogoSamurEncapsulamento{
    width: 80vw;
    margin: auto;
}
.ImagensCloseLogoSamur{
    display: grid;
    grid-template-columns: 20% 1fr;
    align-items: center;
    color: var(--verde-escuro);
    font-weight: 500;
    gap: 20px;
    font-size: 20px;
}
.DivisoriaMenuBox{
    height: 1px;
    width: 90vw;
    margin: 20px auto;
    background-color: var(--verde-escuro);
}
.ImagemPerfilMenu{
    border-radius: 50px ;
}