.BoxEntrarGoogle{
    border-radius: 20px;
    border: solid var(--azul-claro);
    width: 80vw;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    padding: 15px;
}
.textGoogle{
    color: var(--azul-claro);
    font-size: 16px;
    margin: 20px;
}