.ConteudoBanner {
  margin: 0;
}
.MainDocumentos {
  background-color: var(--cinza-cor-de-fundo);
  border-radius: 20px;
  width: 98%;
  margin: 0 auto;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

/*Diminiur espaço entre o banner e o main*/
