.BoxPaginaPrincipal {
    overflow-x: hidden;
}

.ProximoEventoDesktop {
    display: none;
}
.AtalhosMobile{
    display: block;
}
.ProximoEventoMobile{
    margin-bottom: 8%;
}

@media(max-width: 768px){
    .ImagemPubli{
        display: none;
    }
}

@media(min-width: 800px) {
    .BoxUserAndNovoAgendamento {
        display: none;
    }
    .AtalhosMobile{
        margin-top: 20px;
    }
    .ProximoEventoMobile{
    }
    .calendario{
        max-width: 300px;
    }
    .BoxCalendario{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    
}
@media(min-width: 1024px){
    .ProximoEventoMobile{
        display: none;
    }
    .BoxCalendario{
        display: flex;
        justify-content: center;
        align-items: top;
        gap: 20px;
        margin-top: 30px;
    }
    .ProximoEventoDesktop{
        display: block;
    }
}