.ContainerBanner {
  display: flex;
  width: 98vw;
  border-radius: 20%;
  margin: 1% auto;
  padding-bottom: 0;
}
#PrimeiraImg {
  border-radius: 20px 0 0 20px;
}
#UltimaImg {
  border-radius: 0px 20px 20px 0px;
}
.CardBanner{
  min-width: 20%;
}
.CardsBanner {
  filter: brightness(65%);
  width: 100%;
  height: 300px;
}
.CardsBanner:hover {
  filter: brightness(100%);
  transition: ease-in-out;
}
@media (max-width: 500px) {
  .ContainerBanner {
    display: none;
  }
  .CardBanner{
    min-width: 20%;
  }
}
@media(min-width: 1441px){
  .CardBanner{
    min-width: 20%;
  }
  .CardsBanner{
    height: 500px;
  }
}