.BoxBanner{
    width: 100vw;
    height: 60vh;
    background-image: url("/images/banner-samur.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
    position: relative;
}
@media(max-width: 500px){
    .BoxBanner{
        display: none;
    }
}