.div-inputText{
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}
.item-inputText{
    margin-top: 30px;
    padding: 10px;
    height: 30px;
    width: 80vw;
}
.botao-entrar-login{
    width: 80vw;
    height: 30px;
    background-color: var(--azul-claro);
    margin: 20px auto;
    border-radius: 20px;
    color: var(--branco);
    font-size: 16;
    cursor: pointer;
}
